<%- include("./partials/_header") %>

<main class="container py-4">
    <h1 class="fw-normal mb-3">
        <%= title %>
    </h1>

    <p class="lead">
        Welcome to MyForum, a simple forum application built with Node.js, Express, and MongoDB. This project serves as a practical example of how to create a web application with user authentication, CRUD operations for posts, and a clean user interface using EJS templates and Bootstrap.
    </p>
</main>

<%- include("./partials/_footer") %>
